footer {
    background-color: $footer-background;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .derechos_footer {
        display: flex;
        font-size: 1.8rem;
        margin-left: 1.5em;
        margin-right: 1rem;
        text-align: center;        
    }
  
    .whatsapp, .instagram, .email {
      width: 2.9rem;
      margin-right: 5em;
    }

    .redes {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
    }
    
    .parrafo {
        margin: 25px;
        text-align: justify;
        color: $link-color;
    }
    .logo {
        width: 20rem;
        height: auto;
    }
    
    @media (min-width: 320px) and (max-width: 720px) {

        footer {
            width: 100%;
            height: auto;
        }
        .derechos_footer {
            font-size: 0.8rem;
            margin-left: 1rem;
            margin-right: 1rem;
            width: 60%;
        }
        .whatsapp {
            width: 1.7rem;
            margin-right: 2em;
            margin-bottom: 10%;
        }
        .instagram {
            width: 1.7rem;
            margin-right: 2em;
            margin-bottom: 10%;
        }
        .email {
            width: 1.7rem;
            margin-right: 2em;
        }
        .logo {
            width: 90%;
            height: auto;
        }
    
  }
}