.texto {
    font-family: $font-family;
    font-size: 1.2rem;
    scroll-behavior: smooth;
}
h1 {
    font-size: 2rem; /* Ajusta el tamaño según tus preferencias */
    text-align: center;
    color: $text-color;
    font-weight: bold;
    margin-bottom: 3%;
  }
  
  h2 {
    margin: 4%;
    text-align: center;
    color: $text-color;
    font-weight: bold;
  }
  
.imagen_inicial {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 5%;
}
.contenedor_flex {
    height: 100%;
    width: 100%;
}
.parrafo {
    margin: 25px;
    padding: 4%;
    text-align: justify;
    color: $text-color;
    font-size: 1.7rem;
}

.boton {
    @include boton_style
}

.arriba {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: $text-color;
    margin-top: 5%;
    padding-bottom: 4%;
    &:hover {
        color: $footer-background;
    }
}

nav a {
    transition: background-color 0.1s, color 0.1s;
    &:active {
        background-color: #5c0813;
        color: #faf9f9;
        padding: 5px 10px;
    }
}

a {
    text-decoration: none;
    color: rgb(128, 10, 33);
    font-size: 1.5rem;
}
    
@media (min-width: 320px) and (max-width: 720px) {

    .parrafo {
        margin: 25px;
        padding: 2%;
        text-align: justify;
        color: $text-color;
        font-size: 1.2rem;
    }

}
