header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: $header-background;
  
    .logo {
      width: 20rem;
      height: auto;
      padding-left: 5%;
    }

    .i1 {
        display: flex;
    }
    .i_iconos {    
         width: 2.8rem;
         height: auto;
         margin-right: 0.8rem;
    }
    
    ul, li {
        display: inline-block;
        list-style-type: none;
        margin-right: 12px;
    }
    nav ul {
        display: flex;
        justify-content: center;
    }
    a {
        text-decoration: none;
        color: rgb(128, 10, 33);
        font-size: 1.5rem;
    }

    @media (min-width: 320px) and (max-width: 720px) {

        header {
            height: auto;
            
        }
    
        ul li {
            display: block;
            text-align: center;
            margin-right: 0;
            margin-bottom: 0.3rem;
        }
        nav ul {
            display: block;
        }
        a {
            font-size: 1rem;
        }
        .logo {
            width: 7.5rem;
            height: auto;
        }
        .i_iconos {
            width: 2.1rem;
            height: auto;
            margin-right: 0.5rem;
        }


    }
    
}