@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin boton_style {
    background-color: #2e1723;
    color: aliceblue;
    border: 1.5px;
    border-style: solid;
    border-color: #103835;
    padding: 6px;
    margin: 8px;
    &:hover {
        background-color: #003F5D;
        color: aliceblue;
    }
  }