@import 'variables';

.r2 {
  text-align: center;
  display: inline-block;
  margin: 30px;

  img {
    max-width: 15%; /* Hace que las imágenes sean responsivas */
    height: auto;
  }
}  

.r1 {
  text-align: center;

  img {
    width: 12%;
    height: auto;
  }
}

@media (min-width: 320px) and (max-width: 720px) {

  h1 {
    padding: 5%;
  }
  h2 {
    padding: 6%;
  }
}